*{
    box-sizing: border-box;
  }
  
  #navigation{
    margin: 0;
    padding: 0;
    z-index: -1;
  } 
  html{
    margin-left: 0;
  }
  @media(min-width: 720px) and (max-width: 1300px){
  #navbar{
    
    margin: 0;
    padding: 0;
    width: 23%;
    height: 100%; /* Full height */
    position: fixed;  
    border: 2px solid gray;
    border-top: 0;
    border-left: 0;
    
  }
  
  #navbar header{
    margin-left:0;
    padding: 10px 10px 20px 10px;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    border-bottom: 1px solid grey;
  }
  
  #navbar ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    list-style-type: none;
    height: 100%;
    margin-left: 0;
    padding: 0;
   
  }
  
  #navbar>ul li{
    
    text-align: left;
    color: gray;
    margin: 0;
    border-bottom: 1px solid grey;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 8px;
    display: block;
  }
  
  #navbar>ul li a{
    text-decoration: none;
    color: gray;
  }
  #main-doc{
    width: 74%;
    margin: auto;
    padding-left: 50px;
    padding-top: 40px;
    margin-right: 10px;
    padding-right: 0px;
  }
  }
  
  .main-section{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: gray;
  
  }
  
  .main-section p {
    padding-left:20px;
    line-height: 21px;
  }
  
  .main-section ul{
    padding-left: 70px;
  }
  
  .main-section>ul li {
    margin-bottom: 25px;
  }
  
  
  .main-section header{
    font-family: Arial, sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 400;
    width: 100%
  }
  
  .code{
    background-color: #F7F7F7;
    margin: 20px;
    width: auto;
    height: auto;
    border-radius: 13px;
    color:gray;
    
    
  }
  
  .code p{
    margin: auto;
    font-family: monospace; 
    font-size: 15px;
    text-align: left;
    padding: 20px;
    font-weight: 400;
    line-height: 24.96px;
    color: gray;
  }
  
  @media(max-width: 720px){
    #navbar header{
    margin-left:0;
    padding: 10px 10px 20px 10px;
    font-size: 32px;
    font-weight: 400;
    border-bottom: 1px solid grey;
  }
  
  #navbar>ul li a{
    text-decoration: none;
    color: grey;
  }
  
  .main-section ul{
    padding-left: 30px;
  }
  
  }
  
  
  
  
  
  
  
  
  